.details_wrap {
  width: 902px;
  height: 640px;
}

.card_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card_rating_wrap {
  margin-top: 10px;
  margin-bottom: 16px;
}

.card_img_wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.card_description {
  color: var(--text-color);
  text-align: justify;
  margin-bottom: 44px;
}

.scroll_container_wrap {
  width: 926px;
  height: 506px;
  margin-top: 24px;
}

.scroll_container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

.scroll_container::-webkit-scrollbar {
  width: 8px;
}

.scroll_container::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 4px;
}

.card_info {
  width: 902px;
  margin-right: 16px;
}

.info_list {
  display: flex;
  gap: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-card-color);
}

.info_item_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--main-color);
}
