.details_wrap {
  width: 902px;
  height: 640px;
}

.card_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.card_rating_wrap {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.card_rating {
  display: flex;
  gap: 4px;
  align-items: center;
  text-decoration-line: underline;
}

.card_rating_icon {
  width: 16px;
  height: 16px;
  fill: var(--rating-color);
}

.card_location {
  display: flex;
  gap: 4px;
  align-items: center;
}

.card_location_icon {
  width: 16px;
  height: 16px;
  fill: var(--main-color);
}

.card_img_wrap {
  display: flex;
  gap: 16px;
}

.card_img_item {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
}

.card_img {
  object-fit: cover;
}

.card_description {
  /* width: 525px; */
  /* overflow: hidden; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  color: var(--text-color);
  text-align: justify;
  /* margin-bottom: 24px; */
}
