.section {
  width: 1336px;
  display: flex;
  justify-content: flex-end;
}

.scroll_container {
  overflow-y: auto;
  width: 912px;
  height: 738px;
  padding-top: 14px;
}

.scroll_container::-webkit-scrollbar {
  width: 8px;
}

.scroll_container::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 4px;
}

.card_list {
  width: 888px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 50px;
}

.loadmore_btn {
  display: block;
  padding: 16px 32px;
  border-radius: 200px;
  border: 1px solid var(--border-light-color);
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.5;
  margin: 0 auto;
}

.loadmore_btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
