.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid var(--stripe-color);
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 12px 64px;
}

.nav_list {
  display: flex;
  gap: 24px;
}

.nav_list_item {
  font-size: 18px;
  font-weight: 500;
  color: var(--main-color);
}
