.wrapper {
  width: 902px;
  height: 576px;
}

.wrapper_active {
  display: block;
  position: relative;
}

.wrapper_active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  height: 5px;
  width: 85px;
  border-radius: 2px;
  background-color: var(--btn-color);
}

.features_wrap {
  display: flex;
  gap: 24px;
  padding-top: 44px;
}

.camper_options_wrap {
  width: 430px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.camper_option {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.camper_details {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 12px;
  border-top: 1px solid var(--stripe-color);
}

.camper_details_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
}

.camper_details_item {
  display: flex;
  justify-content: space-between;
}

.camper_details_item p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}
