.filters_form {
  position: fixed;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filter_location_title {
  font-size: 16px;
  font-weight: 500;
  color: var(--placeholder-color);
  margin-bottom: 8px;
}

.filters_title {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 14px;
}

.filters_type_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 24px;
}

.filter_btn {
  padding: 16px 60px;
  border-radius: 200px;
  background-color: var(--btn-color);
  color: var(--bg-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
}

.filter_btn:hover {
  background-color: var(--btn-active-color);
}
